body {
    font-family: Arial, sans-serif;
}
.gameDate {
    background-color: #ffffff;
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 10px;
    border-color: #000000;
    border-style: solid;
}
.teamHome {
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border-color: #000000;
    border-style: solid;
}
.teamHome img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.teamVisitor {
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border-color: #000000;
    border-style: solid;
}
.teamVisitor img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.predictionCVPAI {
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 350px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border-color: #000000;
    border-style: solid;
}
.predictionUser {
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 350px;
    height: 200px;
    padding: 20px;  
    margin: 10px;
    border-color: #000000;
    border-style: solid;
}
