<!DOCTYPE html>
<html lang="en">
<head>
    <title>Court Vision Predict</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body style="background-color:#601EF9">
    <div class="container">
        <h1 class="head">
            <img src="{{ url_for('static', filename='images/basketball.png') }}" alt="Basketball">
            Court Vision Predict
        </h1>
        <div class="user-actions">
            <div class="tab profile">Profile</div>
        </div>
        <div class="nav-bar">
            <div class="tab">#1 Popular Team</div>
            <div class="tab">Popular Players</div>
            <div class="tab">Current Matches</div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
        </div>
        <div class="news-box">
            <h2>News</h2>
            <ul id="news-list">
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>
