<!-- landingpage.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Court Vision Predict</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body style="background-color:#2037ff">
    <div class="container">
        <a href="/" style="text-decoration:none">
            <h1 class="head">
                <img src="{{ url_for('static', filename='images/basketball.png') }}" alt="Basketball">Court Vision Predict
            </h1>
        </a>
        {% block user_nav %}
        <div class="user-actions">
            <div class="user-tab" id="signupTab">Sign Up</div>
            <div class="user-tab" id="loginTab">Login</div>
        </div>
        <div class="nav-bar">
            <div class="nav-tab" id="teamsTab">#1 Popular Team</div>
            <div class="nav-tab" id="playersTab">Popular Players</div>
            <div class="nav-tab" id="predictionsTab">Current Matches</div>
        </div>
        {% endblock %}
    </div>

    {% block additional_content %}
    <div class="news-box">
        <h2>News</h2>
        <ul id="news-list"></ul>
    </div>
    <div class="players-box">
        <h2>Players Gallery</h2>
        <ul></ul>
    </div>
    <div class="teams-box">
        <h2>NBA teams</h2>
        <ul id="teams-list"></ul>
    </div>
    <a href="/" style="text-decoration:none">
        <h1 class="head">
            <img src="{{ url_for('static', filename='images/basketball.png') }}" alt="Basketball">Court Vision Predict
        </h1>
    </a>
    {% endblock %}
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>
